.vscode
build
/.vscode
sdkconfig
sdkconfig.ci*
sdkconfig.defaults
sdkconfig.old
/managed_components
dependencies.lock
/node_modules
partitions.csv

vigilant-engine-recovery/main/static/*
components/vigilant_engine/static/*
vigilant-engine-recovery/partition-table.bin
