.vscode
build
/.vscode
sdkconfig
sdkconfig.ci*
sdkconfig.defaults
sdkconfig.old
/managed_components
dependencies.lock
/node_modules

vigilant-engine-recovery/main/static/*
components/vigilant_engine/static/*