menu "Example Configuration"

    config EXAMPLE_BASIC_AUTH
        bool "Basic Authentication"
        default n
        help
            Basic Authentication is a method for an HTTP user agent (e.g. a web browser)
            to provide a user name and password when making a request. It is the simplest
            technique for enforcing access controls to web resources. because it doesn't
            require cookies, session identifiers, or login pages; rather, it uses standard
            fields in the HTTP header.
            Note that, Basic Authentication is not encrypted channel and also easy to retrieve
            credentials as they are sent in plain text format.

    config EXAMPLE_BASIC_AUTH_USERNAME
        string "Basic Authenticate User Name"
        depends on EXAMPLE_BASIC_AUTH
        default "ESP32"
        help
            The client's user name which used for basic authenticate.

    config EXAMPLE_BASIC_AUTH_PASSWORD
        string "Basic Authenticate Password"
        depends on EXAMPLE_BASIC_AUTH
        default "ESP32Webserver"
        help
            The client's password which used for basic authenticate.

    config EXAMPLE_ENABLE_SSE_HANDLER
        bool "Enable Server-Sent Events (SSE) handler"
        default n
        help
            Enable this option to use Server-Sent Events (SSE) functionality.
            This will allow the server to push real-time updates to the client over an HTTP connection.

endmenu

menu "Vigilant Engine Configuration: WiFi"
    # --- Wifi Settings ---
    config VE_STA_SSID
        string "WiFi STA SSID"
        default "starstreak"
        help
            The SSID of the WiFi network the Vigilant Engine should connect to.
    config VE_STA_PASSWORD
        string "WiFi STA Password"
        default "starstreak"
        help
            The password for the WiFi network the Vigilant Engine should connect to.
    config VE_STA_RECONNECT_INTERVAL_MS
        int "WiFi STA Reconnect Interval (ms)"
        default 3000
        help
            The interval in milliseconds for attempting to reconnect to the WiFi network when the connection is lost in STA mode.
    config VE_AP_SSID_PREFIX
        string "WiFi AP SSID Prefix"
        default "starstreak-"
        help
            The prefix for the SSID of the WiFi Access Point (AP) mode of the Vigilant Engine. The full SSID will be generated by appending the device's MAC address to this prefix.
    config VE_AP_PASSWORD
        string "WiFi AP Password"
        default "starstreak"
        help
            The password for the WiFi Access Point (AP) mode of the Vigilant Engine.
endmenu

menu "Vigilant Engine Configuration: I2C"
    config VE_ENABLE_I2C
        bool "Enable I2C"
        default n
        help
            Enable this option to use I2C functionality in Vigilant Engine.

    config VE_I2C_SCL_IO
        int "I2C SCL GPIO"
        range 0 64
        default 0
        depends on VE_ENABLE_I2C
        help
            The GPIO pin for the I2C SCL signal.

    config VE_I2C_SDA_IO
        int "I2C SDA GPIO"
        range 0 64
        default 1
        depends on VE_ENABLE_I2C
        help
            The GPIO pin for the I2C SDA signal.

    config VE_I2C_FREQ_HZ
        int "I2C Frequency (Hz)"
        default 100000
        depends on VE_ENABLE_I2C
        help
            The frequency of the I2C communication in Hertz. Common values are 100000 (100 kHz) for standard mode and 400000 (400 kHz) for fast mode.
endmenu
