menu "Example Configuration"

    config EXAMPLE_BASIC_AUTH
        bool "Basic Authentication"
        default n
        help
            Basic Authentication is a method for an HTTP user agent (e.g. a web browser)
            to provide a user name and password when making a request. It is the simplest
            technique for enforcing access controls to web resources. because it doesn't
            require cookies, session identifiers, or login pages; rather, it uses standard
            fields in the HTTP header.
            Note that, Basic Authentication is not encrypted channel and also easy to retrieve
            credentials as they are sent in plain text format.

    config EXAMPLE_BASIC_AUTH_USERNAME
        string "Basic Authenticate User Name"
        depends on EXAMPLE_BASIC_AUTH
        default "ESP32"
        help
            The client's user name which used for basic authenticate.

    config EXAMPLE_BASIC_AUTH_PASSWORD
        string "Basic Authenticate Password"
        depends on EXAMPLE_BASIC_AUTH
        default "ESP32Webserver"
        help
            The client's password which used for basic authenticate.

    config EXAMPLE_ENABLE_SSE_HANDLER
        bool "Enable Server-Sent Events (SSE) handler"
        default n
        help
            Enable this option to use Server-Sent Events (SSE) functionality.
            This will allow the server to push real-time updates to the client over an HTTP connection.

endmenu

menu "Vigilant Engine Configuration: LEDs"
    config VE_ENABLE_STATUS_LED
        bool "Enable Status LED"
        default y
        help
            Enable this option to use the status LED functionality in Vigilant Engine.
            The status LED provides visual feedback on the system's status and operations, and can optionally be used for visual output.
    
    choice VE_LED_TYPE
        prompt "LED Type"
        default VE_LED_TYPE_STATUS
        depends on VE_ENABLE_STATUS_LED
        help
            Select the type of LED functionality to enable in Vigilant Engine.

        config VE_LED_TYPE_WS2812B
            bool "WS2812B LED"
        
        config VE_LED_TYPE_NONE
            bool "Generic LED"
    endchoice

    config VE_STATUS_WS2812B_PIN
        int "WS2812B Data Pin"
        default 8
        depends on VE_LED_TYPE_WS2812B

    config VE_INVERT_STATUS_LED
        bool "Invert Status LED GPIO"
        default y
        help
            Enable this option to invert the signals sent to the status led. On some boards (e.g S3) LOW means the led turns on.
            On other boards LOW might turn them off. Not particularly relevant, as it is mostly blinking anyways.

    choice VE_STATUS_LED_MODE
        prompt "LED Operation Mode"
        default VE_STATUS_LED_MODE_RGB
        depends on VE_LED_TYPE_NONE
        help
            Select how the LED conveys status information.

        config VE_STATUS_LED_MODE_RGB
            bool "RGB (Color-based)"
        
        config VE_STATUS_LED_MODE_BLINK
            bool "BLINK (Frequency-based)"
    endchoice

    # --- RGB Mode Settings ---
    config VE_STATUS_LED_GPIO_RED
        int "Red LED GPIO"
        range 0 64
        default 46
        depends on VE_STATUS_LED_MODE_RGB

    config VE_STATUS_LED_GPIO_GREEN
        int "Green LED GPIO"
        range 0 64
        default 0
        depends on VE_STATUS_LED_MODE_RGB

    config VE_STATUS_LED_GPIO_BLUE
        int "Blue LED GPIO"
        range 0 64
        default 45
        depends on VE_STATUS_LED_MODE_RGB

    # --- BLINK Mode Settings ---
    config VE_STATUS_LED_GPIO_BLINK
        int "Blink LED GPIO"
        range 0 64
        default 48
        depends on VE_STATUS_LED_MODE_BLINK
endmenu

menu "Vigilant Engine Configuration: WiFi"
    # --- Wifi Settings ---
    config VE_STA_SSID
        string "WiFi STA SSID"
        default "aerobear"
        help
            The SSID of the WiFi network the Vigilant Engine should connect to.
    config VE_STA_PASSWORD
        string "WiFi STA Password"
        default "aerobear"
        help
            The password for the WiFi network the Vigilant Engine should connect to.
    config VE_STA_RECONNECT_INTERVAL_MS
        int "WiFi STA Reconnect Interval (ms)"
        default 3000
        help
            The interval in milliseconds for attempting to reconnect to the WiFi network when the connection is lost in STA mode.
    config VE_AP_SSID_PREFIX
        string "WiFi AP SSID Prefix"
        default "aerobear-"
        help
            The prefix for the SSID of the WiFi Access Point (AP) mode of the Vigilant Engine. The full SSID will be generated by appending the device's MAC address to this prefix. 
    config VE_AP_PASSWORD
        string "WiFi AP Password"
        default "aerobear"
        help
            The password for the WiFi Access Point (AP) mode of the Vigilant Engine.
endmenu